body {
  background-color: #FF9800;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12pt;
}

nav {
  background: #2196F3;
  height: 10.4em;
}

nav .nav-extended {
  background: #2196F3;
}

nav .brand-logo img {
  height: 5.7em;
  padding-bottom: 1em;
}

.typewrite {
  color: #ffffff;
}

.content {
  margin-left: 10em;
  margin-right: 10em;
  width: 75%;
}

.client {
  width: 40em;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    color: white;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}

.social {
  margin: 2em .5em 2em .5em;
}